#content-area {
    background: @mainBackground;

    .wrapper {
        padding: 30px 3%;
    }
}

.wrapper {
    .make-row();
    padding-left: 3%;
    padding-right: 3%;
}

#content {
    .make-xs-column(12);
}

.pageHeader {
    background: @headerBackground;
    padding: 10px 3%;
    color: @mainColor;
    font-size: 12px;
    line-height: 14px;

    a {
        text-decoration: none;
    }

    .search-key {
        display: inline-block;
        width: 60px;
    }

    .search-val {
        font-weight: bold;
    }

    .course-back {
        font-weight: bold;
        margin-left: 5px;
        vertical-align: middle;
        color: @mainColor;
        text-transform: uppercase;
    }
}

.fixfixed #header,
.fixfixed .enquiry-button {
    position: absolute;
}