input[type=checkbox].css-checkbox {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:30px;
    min-height:19px; 
    display:inline-block;
    //line-height:11px;
    background-repeat:no-repeat;
    //background-position: 0 -40px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox + label.css-label.checkAllLabel {
    margin-left: 30px;
    //background-position: 0 -20px;
    padding-left: 45px;
    line-height: 18px;
    background-image:url("@{imgPath}checkbox/default.png");
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    //background-position: 0 0px;
    background-image:url("@{imgPath}checkbox/active.png");
}

input[type=checkbox].css-checkbox + label.css-label.small {
    //background-position: 0 -69px;
    //height: 8px;
    background-image:url("@{imgPath}checkbox/smallInactive.png");
    padding-left: 15px;
}

input[type=checkbox].css-checkbox:checked + label.css-label.small {
    background-image:url("@{imgPath}checkbox/smallActive.png");
    //background-position: 0 -60px;
    //height: 8px;
}

.css-label{
    background-image:url("@{imgPath}checkbox/inactive.png");
}
