.course-items {
    a {
        text-decoration: none;
        color: @mainColor;
    }
}

.course-item {
    background: #fff;
    margin-bottom: 20px;
    position: relative;

    h2 {
        margin: 0;
        font-size: 15px;
        text-transform: uppercase;
        width: 85%;
        margin-bottom: 10px;
    }

    .cm-button {
        color: @buttonColor;
    }
}

.course-price {
    span {
        color: @mainColor;
        font-weight: bold;
        margin-left: 5px;
    }
}

.course-content {
    padding: 15px 25px;

    .sprite-right-arrow-hover {
        float: right;
        margin-top: 10px;
        position: relative;
        right: -15px;
    }

}

.course-meta {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 5px;
    margin-bottom: 15px;
    
    > div {
        float: left;
    }

    .course-ratings {
        float: right;
    }
}

.course-provider {
    font-size: 9px;
    > div {
        float: left;
    }
    
    .course-provider-name {
        text-transform: uppercase;
        
        a {
            text-decoration: underline;
        }
    }

    .course-provider-location {
        float: right;

        address {
            margin: 0;
            text-align: right;
        }
    }

}

.course .course-image {
    //width: 80%;

    button {
        color: @mainColor;
        max-width: 262px;
        position: absolute;
        width: 100%;
        top: 55px;
        background: fade(@mainBackground, 80%);
        padding: 10px 15px;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border: 0;
        outline: 0;
        text-align: left;
    }

    .text {
        width: 115px;
        display: inline-block;
        line-height: 15px;
    }

    .sprite-plus {
        vertical-align: top;
        position: relative;
        left: 70px;
    }

}

.course-image .image-fade {
        background: fade(@mainBackground, 80%);
        height: 30px;
        width: 100%;
        display: inline-block;
        position: absolute;
        top: 220px;
}

.course h1 {
    color: @mainColor;
    font-size: 24px;
    margin-bottom: 0px;
}

.course .course-content {
    padding: 0;
}

.course .course-provider {
    padding: 10px 30px;
    .box-shadow(0px 1px 1px 0px @mainColor);
    font-size: 14px;
    text-transform: uppercase;
    color: @mainColor;
    line-height: 15px;
    margin-top: 20px;

    a {
        font-weight: bold;
        color: @mainColor;
        text-decoration: none;
    }
}

.course .course-classes {
    margin-top: 40px;
    margin-bottom: 50px;

    > a {
        display: block;
        background: @buttonBackground;
        padding: 5px 30px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;

        &.next-classes {
            position: relative;
            //margin-bottom: 5px;

            &:before {
                    bottom: 100%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
            }
            &:before {
                    border-color: rgba(194, 225, 245, 0);
                    border-bottom-color: @buttonBackground;
                    border-width: 18px;
                    left: 5%;
                    //margin-left: -36px;
            }
        }

        &.prev-classes {
            background: #62d1dc;
            position: relative;
            margin-top: -5px;

            &:after {
                    top: 100%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
            }

            &:after {
                    border-color: rgba(136, 183, 213, 0);
                    border-top-color: #62d1dc;
                    border-width: 18px;
                    left: 95%;
                    margin-left: -30px;
            }
            
        }
    }
}

.course .course-class {
    background: @headerBackground;
    //height: 56px;
    //overflow: hidden;
    color: @mainColor;
    margin-bottom: 5px;
    .box-shadow(0px 1px 1px 0px @mainColor);

    &.active {
        height: auto;
        background: #fff;
    }
}

.course .course-class-wrap {
    padding: 5px 30px;
}

.course .course-class-meta {
    cursor: pointer;
    font-size: 11px;
    line-height: 15px;
    .from {
        float: left;
        width: 50%;
    }

    .to {
        float: right;
        width: 50%;
        text-align: right;
    }
}

.course .course-date {
    font-weight: bold;
    font-size: 15px;
}

.course .course-class-description {
    border-top: 1px solid #cacaca;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 13px;
    line-height: 14px;
    color: @text-color;
}

.course .course-price {
    font-size: 20px;
    line-height: 22px;
    color: @mainColor;
}

.course .course-class .cm-button {
    padding: 12px;
}

.course .course-info-wrap {
    > div {
        
    }
}

.toggle-parent {
    margin-top: 10px;
    .box-shadow(0 1px 1px 0 @mainColor);
    &.active {
         a [class^="sprite-dropdown-arrow"] {
            .rotate(180deg);
        }
    }


}

.course-description .course-info {
    p {
        padding-bottom: 20px;
        border-bottom: 1px solid;
    }
    
    a.uppercase {
        color: @mainColor;
        text-decoration: none;
    }
}

.course-info-wrap .course-ratings {
    padding: 10px 30px;
    text-transform: uppercase;
    color: @mainColor;
    text-decoration: none;
    background: @headerBackground;
    font-weight: bold;

    .course-rate {
        line-height: 10px;
        font-size: 9px;
        text-transform: none;

        span {
            float: right;
            margin-left: 3px;
        }
    }
}

.course .review-sort {
    text-align: right;
}

.course-reviews ol {
    padding: 0; 
    font-size: 14px;
    line-height: 15px;
}

.course-reviews li {
    list-style: none;
    margin-bottom: 30px;
}

.course-reviews .review-heading {
    font-size: 18px; 
    line-height: 20px;
    margin-bottom: 10px; 
}

.course-reviews .review-ratings {
    margin-bottom: 10px;
}

.course-reviews .review-author {
    text-decoration: underline;
    margin-bottom: 3px;
}

.review-sort {
    label {
        font-weight: normal;
    }

    .selectBox {
        margin: 0;
        background: none;
        border: none;
        width: 90px;

        .selectBox-label {
            font-size: 13px;
            padding-left: 2px;
            width: 72px;
        }

        .selectBox-arrow {
            right: 0;
        }
    }
}

.reviews-tab .review-form label {
    display: block;
    margin: 0;
    padding: 15px;
    background: @mainBackground;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold
}

.reviews-tab textarea {
    .border-top-radius(0);
    height: 200px;
}

.reviews-tab .review-help strong {
    font-size: 15px;
}

.reviews-tab .review-rate {
    margin: 25px 0;
    font-size: 15px;
}

.reviews-tab .review-stars-wrap {
    display: inline-block;
    float: right;
}