.enquiry-wrap {
    margin-bottom: 15px;
    margin-top: 0;
    .box-shadow(none);
    background: @headerBackground;
}

a[data-toggle].enquiry-head {
    background: @buttonBackground;
    color: @buttonColor;
}

.enquiry-list {

    padding: 0;
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 180px;

    li {
        //margin-bottom: 10px;
        list-style: none;
        padding-left: 30px;
        margin: 5px 0;

        &:hover {
            background: #f1feff;
        }
    }

    label {
        margin-top: 10px;
        background-position: 0% 50%;
        margin: 0;
        line-height: 11px;
        span {
            display: block;
            font-size: 13px;
        }
        
        .enquiry-provider {
            margin-top: 5px;
            font-size: 12px;
        }
        
        > span {
            border-left: 2px solid;
            //margin-top: -15px;
            padding: 5px 0 5px 10px;
        }
    }

    &::-webkit-scrollbar {
        background: @buttonBackground;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: @buttonBackground;
        border-radius: 10px;
    }

}

.enquiry #content-area > .wrapper {
    padding: 0;
}

.enquiry .enquiry-search {
    padding: 0 3%;
}

.enquiry-list-wrap {
    margin-bottom: 50px;
}

.enquiry-contact  {

    .form-group {
        padding: 0 30px;
    } 

    .checkbox {
        padding-left: 30px;
        margin-top: 0;
        font-size: 10px;
    }

    .one-email {
        padding-left: 30px;
        margin-bottom: 20px;

        .sprite-mail {
            float: left;
        }
        
        .help-text {
            float: left;
            width: 57%;
            font-size: 16px;
            line-height: 18px;
            margin-left: 15px;
            color: @mainColor;
        }

        h4 {
            margin: 0;
            margin-bottom: 2px;
        }

    }

    textarea {
        height: 120px;
    }

    .form-group.textarea {
        margin-top: 5px;
    }
}