.enquiry-button {
    background: #b0e8ee;
    padding: 10px 0;
    z-index: 1000;

    a {
        padding: 5px 40px;
        color: #fff;
        background: #38bbc8;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        display: block;
        text-decoration: none;
        .transition(all .5s);
    }
}

#footer {
    min-height: 30px;
}

#footer-meta {
    background: #f0f0f0;
    padding: 5px 3%;

    a {
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        color: #cbcbcb;
    }
}

#social-links {
    padding: 0;

    li {
        float: left;
        list-style: none;
        margin-right: 10px;
        a {
            .hide-text();
        }
    }

}

#suggestion-box {
    a {
        padding: 5px 0;
        color: @mainColor;
        border: 1px solid @mainColor;
        display: block;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        .box-shadow(inset 0px 1px 1px 0px #3bbacb);
        margin-bottom: 25px;
    }
}