#header {
    background-color: #fff;
    z-index: 1000;
}

.course-nav-button {
    float: left;
    padding: 15px;
    
    &:hover span.sprite-left-arrow {
        .sprite-left-arrow-hover;
    }

    &.right {
        float: right;

        &:hover span.sprite-right-arrow {
            .sprite-right-arrow-hover;
        }
    }
}

.logo {
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
}

.search-toggle,
.menu-toggle {
    background: @headerBackground;
}

.search-toggle:hover,
.menu-toggle:hover {
    //background: @headerBackground !important;
}

.search-toggle.collapsed,
.menu-toggle.collapsed {
    background: none;
}

.menu-toggle.collapsed .icon-bar {
    background: #f0f0ee;
    .box-shadow(inset 0px 1px 0px 1px #dadada);
}

.menu-toggle .icon-bar {
     background-color: @navbar-default-toggle-icon-bar-bg;
     .box-shadow(none);
}

.menu-toggle {
    padding: 11px 5px;
    border-left: 1px solid #ededed;
}

.search-toggle.collapsed {
    .sprite-search-active {
        .sprite-search;
    }
}

.search-menu,
.navbar-menu {
    background: @headerBackground;
}

.search-menu {

    .toggle-parent {
        margin: 0;

        a[data-toggle] {
            padding: 10px 30px;
            font-weight: normal;
            text-transform: none;
            .clearfix();
        }
    }

    .search-key {
        display: block;
        float: left;
        width: 65px;
    }

    .search-val {
        display: block;
        float: left;
        width: 69%;
    }

    .course-info {
        padding: 5px 30px !important;
        font-size: 12px;
        line-height: 14px;
        color: #3bbacb;
    }

    a#courseLocationButton {
        top: 50px;
        right: 40px;
    }

}

.search-when .course-info {
    background: #fff;
    padding: 20px 0 !important;
}

.search-when label {
    display: block !important;
}

.search-how {
    padding: 0 30px;
}

.search-menu,
.navbar-menu {

    .toggle-parent {
        margin: 0;

        a[data-toggle] {
            padding: 10px 30px;
            font-weight: normal;
            text-transform: none;
            .clearfix();
        }
    }
}