body.home #content {
    width: 100%;
}

body.home #content > div {
    background: #fff;
    padding: 15px 15px 25px;
    .box-shadow(0px 1px 2px 1px #c1d4d8);
}

.home-form {
    position: relative;
}

.cm-label {
    color: @mainColor;
    font-weight: normal;
}

.cm-input,
.cm-input:focus {
    .box-shadow(inset 0px 1px 1px 1px #a8e4ec);
    border: none;
}

body.home .cm-input,
body.home .cm-input:focus {
    background: @mainBackground;
}

body.home .search-toggle,
body.home .search-menu {
    .hide;
}

input#courseLocation {
    padding-right: 30px;
}

a#courseLocationButton {
    position: absolute;
    top: 30px;
    right: 10px;   
}