body.login,
body.register {
    color: @mainColor;
}

body.login h1,
body.register h1 {
    margin-top: 0;
}

body.login #content form a {
    //color: @mainColor;
    font-size: 10px;
    text-decoration: underline;
    margin-bottom: 30px;
}

.login label[for=email] span {
    margin-left: 5px;
    font-size: 10px;
}

.login .help-block,
.register .help-block {
    font-size: 11px;
}

.social-login {
    margin-top: 50px;
    a {
        font-size: 12px;
        font-weight: normal;
    }
}

.twitter-login {
    background: none;
    margin-bottom: 10px;
    &:hover {
        color: @mainColor;
        background: none;
    }
}

.register a.selectBox {
    margin: 0;
    display: block !important;
    margin-left: 0;
    width: 100% !important;
    height: 34px;
    padding: 6px 12px;

    .selectBox-label {
        padding-left: 0;
    }

    .selectBox-arrow {
        top: 15px;
    }
}

.register input#photo {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.register .upload-wrap {

    .preview {
        background: url("@{imgPath}previewDefault.png") no-repeat;
        height: 110px;
        width: 121px;
        float: left;
    }
    
    label {
       float: right;
       width: auto;
       padding: 6px 34px;
       font-weight: normal;
       text-transform: none;
       margin-top: 78px;
   }

}

.register textarea {
    height: 120px;
}

.upload-wrap {
    margin-bottom: 20px;
}

.register .about-you {
    margin-bottom: 20px;

    a {
        border-bottom: 1px dotted;
    }
}
