.provider-description .provider-info {
    p {
        padding-bottom: 20px;
        border-bottom: 1px solid;
    }
}

.provider-tutors .provider-info {
    font-size: 15px;
    line-height: 17px;

    p {
        margin-bottom: 30px;
    }
}

.provider h1 {
    background: #fff;
    margin: 0;
    display: block;
    text-decoration: none;
    padding: 15px 30px;
    color: #3bbacb;
    text-transform: uppercase;
    font-size: 16px;
    .box-shadow(0 1px 1px 0 #c0d4d7);
}

.provider-image {
    margin-bottom: 20px;
}

.course-offered {
    margin: 30px 0 50px;
    background: #fff;
    padding: 15px 108px 15px 30px;
    color: @mainColor;
    text-transform: uppercase;
    font-weight: bold;
    .box-shadow(0 1px 1px 0 @mainColor);
    position: relative;
    line-height: 15px;
    
    &:after, &:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
    }

    &:after {
            border-color: rgba(136, 183, 213, 0);
            border-top-color: #fff;
            border-width: 18px;
            left: 15%;
            margin-left: -18px;
    }
    &:before {
            border-color: rgba(194, 225, 245, 0);
            border-top-color: #3bbacb;
            border-width: 20px;
            left: 15%;
            margin-left: -20px;
    }
}
