.search-options {
    margin-bottom: 30px;
    > div {
        float: left;
        width: 33.33%;
        color: @mainColor;
        font-size: 9px;
        font-weight: bold;
        line-height: 11px;
        text-transform: uppercase;
	border-bottom: 2px solid #9cdce5;
        min-height: 44px;

        a {
            text-decoration: none;
            color: @mainColor;
            display: block;
            padding: 10px;
        }
    }
    
    .search-results-count {
        background: #d4fbff;
        text-align: center;
        font-size: 15px;
        line-height: 22px;
        text-transform: none;
        padding: 10px;
	position: relative;
	border-left: 1px solid #9cdce5;
        
        &:after, 
        &:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(212, 251, 255, 0);
            border-top-color: #d4fbff;
            border-width: 15px;
            left: 50%;
            margin-left: -15px;
        }

        &:before {
            border-color: rgba(156, 220, 229, 0);
            border-top-color: #9cdce5;
            border-width: 18px;
            left: 50%;
            margin-left: -18px;
        }
    }

    .search-subscribe {
        background: #fff;
    }

    .search-results-save {
        background: #f2feff;
        border-right: 1px solid #9cdce5;
    }
}

.sort-search {
    background: #fff;
    text-align: right;
    margin-bottom: 20px;
    .box-shadow(0px 2px 2px 0px #c0d3d7);

    label {
        font-weight: normal;
        margin: 0;
        font-size: 12px;
        line-height: 23px;
    }
}

.load-more {
    text-align: center;
    color: @mainColor;
    text-transform: uppercase;

    a {
        margin-top: 10px;
        .transition(all 1s linear);
        &:hover {
            .rotate(360deg);
            //.spin-infinite; 
        }
    }
}

.spin-infinite {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}