/* selectBox */

.selectBox {
    //width: 100%!important;

    &.title {
    //width: 150px !important;
    height: 36px;
    

        .selectBox-label {
            width: auto !important;
        }
    }
}

.selectBox-dropdown {
    background: #fbfbfb;
    height: 25px;
    //border-radius: 7px;
    //.box-shadow(~"inset 1px 1px 2px rgba(187,187,187,0.75)");
    //border: solid 1px #BBB;
    color: #000;
    cursor: default;
    display: inline-block;
    margin-left: 5px;
    border-left: 1px solid #f1f1f1;
    //margin: 0 0 20px 0px;
    //min-width: 150px;
    outline: none;
    position: relative;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;

    &:focus {
        outline: 0;
        /*border-color: rgba(137,184,28,.8);
        outline: thin dotted \9; // IE6-9 
        .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 1px 1px 2px rgba(137,184,28,.6)");*/
    }
}

.selectBox-dropdown .selectBox-label {
    display: inline-block;
    overflow: hidden;
    //padding: 8px 15px;
    width: 50px;
    white-space: nowrap;
    font-size:  12px;
    color:  @mainColor;
    line-height: 23px;
    padding-left: 5px;
}
.selectBox-dropdown .selectBox-arrow {
    //border-left: solid 1px #BBB;
    height: 100%;
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
}
.selectBox-dropdown .selectBox-arrow:active,
.selectBox-dropdown.selectBox-menuShowing .selectBox-arrow {
    //box-shadow: inset 1px 2px 10px #BBB;
}
.selectBox-dropdown-menu {
    //-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    //-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    background: #FFF;
    //border: solid 1px #BBB;
    //box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    max-height: 200px;
    min-height: 1em;
    overflow: auto;
    position: absolute;
    z-index: 99999;
    /*border-color: rgba(137,184,28,.8);
    outline: 0;
    outline: thin dotted \9; // IE6-9 
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(137,184,28,.6)");*/
}

.selectBox-inline {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #FFF;
    border: solid 1px #BBB;
    border-radius: 4px;
    display: inline-block;
    //min-width: 150px;
    outline: none;
    overflow: auto;
}
.selectBox-inline:focus {
    border-color: #666;
}
.selectBox-options, .selectBox-options LI, .selectBox-options LI A {
    cursor: default;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.selectBox-options LI A {
    color: @text-color;
    background: #fff;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 .5em;
    text-decoration: none;
    white-space: nowrap;
}

.selectBox-options li:nth-child(odd) a {
    background: #f6f6f6;
}

.selectBox-options LI.selectBox-hover A {
    background-color: @mainBackground;
    color: @mainColor;
}
.selectBox-options LI.selectBox-disabled A {
    background-color: transparent;
    color: #888;
}
.selectBox-options LI.selectBox-selected A {
    background-color: @mainBackground;
    color: @mainColor;
}
.selectBox-options .selectBox-optgroup {
    background: #EEE;
    color: #666;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 .3em;
    white-space: nowrap;
}
.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
    border-color: #666;
    filter: alpha(opacity=50);
    opacity: .5;
}
.selectBox-inline.selectBox-disabled .selectBox-options A {
    background-color: transparent!important;
}
.selectBox.selectBox-disabled, .selectBox-inline.selectBox-disabled {
    color: #888!important;
}

/* End selectBox */