[class^="sprite-"],
[class*=" sprite-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  vertical-align: middle;
  background-image: url("@{spritePath}");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}


.sprite-down-arrow{ background-position: 0 0; width: 14px; height: 8px; } 
.sprite-dropdown-arrow-active{ background-position: -15px 0; width: 10px; height: 5px; } 
.sprite-dropdown-arrow-white{ background-position: -26px 0; width: 9px; height: 5px; } 
.sprite-dropdown-arrow{ background-position: -36px 0; width: 9px; height: 5px; } 
.sprite-facebook-social{ background-position: -46px 0; width: 40px; height: 40px; } 
.sprite-fb-link{ background-position: -87px 0; width: 12px; height: 25px; } 
.sprite-find-me-grey{ background-position: -100px 0; width: 17px; height: 23px; } 
.sprite-find-me{ background-position: -118px 0; width: 17px; height: 23px; } 
.sprite-gplus-social{ background-position: -136px 0; width: 40px; height: 40px; } 
.sprite-left-arrow-hover{ background-position: -177px 0; width: 8px; height: 14px; } 
.sprite-left-arrow{ background-position: -186px 0; width: 8px; height: 14px; } 
.sprite-loading{ background-position: -195px 0; width: 36px; height: 32px; } 
.sprite-mail{ background-position: -232px 0; width: 26px; height: 21px; } 
.sprite-pinterest-social{ background-position: -259px 0; width: 40px; height: 40px; } 
.sprite-plus{ background-position: -300px 0; width: 34px; height: 34px; } 
.sprite-right-arrow-hover{ background-position: -335px 0; width: 8px; height: 14px; } 
.sprite-right-arrow{ background-position: -344px 0; width: 8px; height: 14px; } 
.sprite-search-active{ background-position: -353px 0; width: 27px; height: 27px; } 
.sprite-search{ background-position: -381px 0; width: 27px; height: 27px; } 
.sprite-star-active{ background-position: -409px 0; width: 9px; height: 9px; } 
.sprite-star-big-active{ background-position: -419px 0; width: 17px; height: 17px; } 
.sprite-star-big{ background-position: -437px 0; width: 17px; height: 17px; } 
.sprite-star-lblue-active{ background-position: -455px 0; width: 13px; height: 13px; } 
.sprite-star-lblue{ background-position: -469px 0; width: 13px; height: 13px; } 
.sprite-star{ background-position: -483px 0; width: 9px; height: 9px; } 
.sprite-twitter-link{ background-position: -493px 0; width: 27px; height: 21px; } 
.sprite-twitter-social{ background-position: -521px 0; width: 39px; height: 40px; } 
.sprite-uk-map{ background-position: -561px 0; width: 23px; height: 45px; } 
.sprite-world-map{ background-position: -585px 0; width: 51px; height: 35px; } 






//More styles

//Hovers
.sprite-left-arrow:hover{ .sprite-left-arrow-hover; }
.sprite-right-arrow:hover{ .sprite-right-arrow-hover; }
//.sprite-dropdown-arrow:hover{ .sprite-dropdown-arrow-active; }