@media (min-width: @screen-sm) {

    body.home #content > div { 
        padding: 15px 35px;
    }
    
    body.home #content .home-intro {
        margin-bottom: 15px;
        padding: 35px;
        
        .random-img {
            height: 340px;
            background-repeat: no-repeat;
            position: absolute;
            min-width: 270px;
            top: -30px;
            right: -40px;
        }
    }

    body.home .form-group {
        float: left;
        width: 40%;

        &.location {
            margin-left: 1%;
        }
    }

    body.home .cm-button {
        float: left;
        width: 17%;
        margin-left: 2%;
        margin-top: 25px;
    }

    .course-image {
        float: left;
        width: 39%;
        
        .image-overlay {
            position: absolute;
            width: 39%;
            bottom: 0px;
            background: rgba(228, 252, 255, 0.8);
            height: 32px;
        }
    }

    .course-content-wrap {
        float: left;
        width: 61%;
    }
    
    .course-provider-location .sprite-find-me-grey {
        position: absolute;
        right: 121px;
        bottom: 62px;
    }

    .course-item {
        margin-bottom: 40px;
    }

    .course-item h2 {
        font-size: 24px;
        width: 100%;
        margin-bottom: 9px;
        a {
            color: @courseColor;
        }
    }

    .course-item p {
        color: @courseColor;
    }

    .course-image .image-fade {
        height: 32px;
        width: 39%;
        top: 213px;
    }

    .course h1 {
        margin: 14px 0;
        text-transform: uppercase;
    }

    .course .course-content {
        padding: 15px 25px;
        background: #fff;
    }

    .course .course-ratings {
        margin-bottom: 15px;
    }

    .course .course-price {
        margin-bottom: 20px;
    }

    .profession-intro {
        margin-bottom: 40px;
    }

    .profession-video {
        width: 39%;
        float: left;
        
        .help-text {
            background: @headerBackground;
            color: @mainColor;
            .box-shadow(0px 1px 0px 0px @mainColor);
            padding: 10px;
            text-align: center;
        }

    }

    .profession-facts {
        width: 61%;
        float: left;
        background: @headerBackground;
        color: @mainColor;

        h5 {
            color: @mainColor;
            text-transform: uppercase;
            font-weight: bold;
        }

        p {
            color: @mainColor;
            padding-bottom: 10px;
            border-bottom: 1px solid;
            line-height: 15px;
        }
    }

    .profession-avgSalary {
        > div {
            width: 50%;
        }
    }

    .local-avgSalary {
        background: url("@{imgPath}ukMap.png") no-repeat 61% 100%;
    }

    .world-avgSalary {
        text-align: right;
        background: url("@{imgPath}worldMap.png") no-repeat 100% 100%;
        padding-right: 60px;
    }

    .profession-location {
        text-transform: uppercase;
        font-size: 11px;
    }

    .wrapper {
        margin: 30px 0;
    }
}