.course .course-info,
.provider .provider-info {
    padding: 20px 30px;
    font-size: 12px;
    line-height: 14px;
    color: @mainColor;
}

.course .reviews-tab .course-info {
    background: #fff;
}

.location-tab {
    address {
        font-size: 15px;
        line-height: 17px;
    }
}

.send-mail {
    display: block;
    text-align: center;
    font-size: 16px;
    background: @headerBackground;
    padding: 15px 0;

    .sprite-mail {
        margin-right: 10px;
    }
}

.contact-tab {

    .provider-info,
    .course-info {
        padding: 20px 0 0;
    }

    form {
        padding: 0px 30px;
    }

    .help-text {
        margin-top: 10px;
        font-size: 16px;
        margin-left: 30px;
    }

    textarea {
        height: 120px;
    }

    div.checkbox {
        padding-left: 0;
    }
}