//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .hide-text();
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

.glow {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

a[data-toggle] {
    display: block;
    background: @headerBackground;
    text-decoration: none;
    padding: 15px 30px;
    color: @mainColor;
    text-transform: uppercase;
    font-weight: bold;

    [class^="sprite-dropdown-arrow"] {
        float: right;
        position: relative;
        top: 5px;
    }
}