.typeahead {
  padding: 0;
  margin: 0;
}
.typeahead li:nth-child(even) a {
  background-color: #f4f3f3;
}
.typeahead > li > a {
  padding: 7px 15px;
  color: #828282;
  text-shadow: 1px 1px 3px #fff;
}
.typeahead > li > a:hover {
  background-color: #cae291;
  color: #678e0e;
}
